.baslik
{
   color:crimson;

}
.gri
{
  background-color:grey;
}

.pict{
  width: 500px;
  height: 500px; 

}


.carousel slide{

  width: 500px;
  height: 500px; 
}
.carousel-item{
  height:32rem;
  background:#777;
  color:white; 
  position: relative;
}
.container{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding-bottom:50px;
}
  
